.mediawiki h1, .mediawiki h2, .mediawiki h3, .mediawiki a
{
	font-family: "San Francisco", .mediawiki "Helvetica Neue", .mediawiki "Roboto", .mediawiki "Segoe UI", .mediawiki Helvetica, .mediawiki Arial, .mediawiki sans-serif;
	font-weight: 400;
	color:#37393a;
	line-height: 1.7;
}
.mediawiki h1, .mediawiki h2, .mediawiki h3
{
	font-weight: 400;
	-webkit-margin-after: 0px;
}
.mediawiki h2
{
	margin-top: 1.2em;
}
.mediawiki .mw-jump, .mediawiki .toc, .mediawiki .mw-editsection, .mediawiki .reference, .mediawiki .references, .mediawiki #References, .mediawiki .reflist, .mediawiki #footer, .mediawiki .portal, .mediawiki #p-search, .mediawiki .vectorMenu, .mediawiki .vectorTabs, .mediawiki #mw-navigation, .mediawiki .nv-view, .mediawiki .nv-talk, .mediawiki .nv-edit, .mediawiki li>sup, .mediawiki .ambox, .mediawiki .mw-indicators, .mediawiki .navbox, .mediawiki .mw-normal-catlinks, .mediawiki .mw-hidden-catlinks, .mediawiki .stub, .mediawiki .printfooter
{
	display:none;
}
.mediawiki #siteSub
{
	margin-bottom: 1.7em;
	font-size: 1.2em;
	color:#676a74;
}
.mediawiki a
{
	font-style: italic;
}
.mediawiki .infobox
{
	float:right;
	min-width: 20vw;
	margin-left: 2vw;
}
.mediawiki .infobox ul
{
	list-style: none;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
.mediawiki .infobox th, .mediawiki .infobox tr, .mediawiki .infobox td
{
	background: none !important;
}
.mediawiki .infobox th
{
	padding-top:1.5em;
	padding-bottom:0.5em;
}
.mediawiki .infobox td, .mediawiki .infobox tr th {
	padding-top:0.5em;
	padding-bottom:0.5em;
}
.mediawiki .infobox tr
{
	border-bottom:1px solid #ccc;
}
.mediawiki .infobox a
{
	font-style: initial;
}
.mediawiki #content
{
	max-width: 80%;
	left:0;
	right:0;
	margin:auto;
	margin-top: 10vh;
}
.mediawiki h1
{
	font-size: 3em;
}
.mediawiki .mw-headline
{
	font-size: 1.5em;
}
.mediawiki p
{
	font-size: 1.2em;
}
@media only screen and (max-width: 720px)
{
	.mediawiki .infobox
	{
		float:none;
		width:100%;
	}
	.mediawiki #content
	{
		max-width:100%;
	}
}